Q1) Discuss string slicing and provide examples

In [ ]:
# 1) String Slicing refers to presenting/ taking a specfic part of string into consideration.
# 2) Important when we have to work on a specfic part of the string. 
# 3) String can be sliced from beginning, end (negative index ), between specfied indexes. 
# eg)

In [5]:
a="mumbai"
print(a[0:2])   
print(a[:2])    # default beginning
print(a[1:])    # default ending 
print(a[:-1])   # -ve index slicing follows above syntax aas well
print(a[::2])   # the 3 parameter refers to jumps(skips) in index

mu
mu
umbai
mumba
mma

____

Q2) Explain the key features of lists in Python

In [11]:
# 1) Strings are ordered , hetrogeneous and mutable 


a=["mumbai","delhi","kolkata","nagpur","bangalore"]
print("ordered way: " ,a)
a[1]="haryana"
print("mutability",a)
a.append(3)
a.append(3.8)
print("Appended",a)

ordered way:  ['mumbai', 'delhi', 'kolkata', 'nagpur', 'bangalore']
mutability ['mumbai', 'haryana', 'kolkata', 'nagpur', 'bangalore']
Appended ['mumbai', 'haryana', 'kolkata', 'nagpur', 'bangalore', 3, 3.8]

In [13]:
# 2) List can be accessed through -ve index as well.

print(a[2])   # forward access 
print(a[-1])  # -ve access   (follows same as string)

3.8

3) They can be used as data strucutres like stack (LIFO) and Queue (FIFO). Queue can be implemented using the 'deque' and 'queue' modeules . Stack can be implemented through normal coding.

4) These are the some important key features which makes list more efficient other than that we can also 'extend' string , concatenate, count the length , count specfic element , append , remove and also apply comprehensive statements as well.

5) String can be copied in two ways DEEP COPY AND SHALLOW COPY . Deep copy when the exact string is replicated and pointed by a different var stored at different memory location. Here the both list will be independent , Whereas in shallow copy another var points to the same list which is being  already holded by a var. In this case both var can modify the list

In [19]:
# eg
a=["mumbai","delhi","kolkata","nagpur","bangalore"]
print("SHALLOW COPY")
s=a   # shallow copy 
s[0]="Bihar"
print("S=",s)
print("a=",a)  # here the list gets modified by both var s and a
print("DEEP COPY")
d=a.copy()  # deep copy
print("d=",d)
d[0]="MUMBAI"
print("d=",d)   # here only d gets modified not a because they are now independent 
print("a",a)

SHALLOW COPY
S= ['Bihar', 'delhi', 'kolkata', 'nagpur', 'bangalore']
a= ['Bihar', 'delhi', 'kolkata', 'nagpur', 'bangalore']
DEEP COPY
d= ['Bihar', 'delhi', 'kolkata', 'nagpur', 'bangalore']
d= ['MUMBAI', 'delhi', 'kolkata', 'nagpur', 'bangalore']
a ['Bihar', 'delhi', 'kolkata', 'nagpur', 'bangalore']

6) There can be list inside list (nested list) eg

In [20]:
c=["maharashtra",["mumbai","nagpur"],"haryana",["ambala","sonipat"]]
print(c)

['maharashtra', ['mumbai', 'nagpur'], 'haryana', ['ambala', 'sonipat']]

____

In [ ]:
Q3) Describe how to access, modify, and delete elements in a list with examples

In [28]:
a=["mumbai","delhi","kolkata","nagpur","bangalore"]
print("accessing", a[2])
a[2]="chennai"
print("modified",a)
a.remove("chennai")
print("deleting" ,a)
a.pop()      # deletes the last element and can also delete specfic element as well 
print("deleting by pop ",a)
a.clear()
print("deleting by clear ",a)  # deletes all the element

accessing kolkata
modified ['mumbai', 'delhi', 'chennai', 'nagpur', 'bangalore']
deleting ['mumbai', 'delhi', 'nagpur', 'bangalore']
deleting by pop  ['mumbai', 'delhi', 'nagpur']
deleting by clear  []

______

 Q4) Compare and contrast tuples and lists with examples

In [53]:
#LIST : 
# 1) List are ordered , hetrogeneous ,mutable
# 2) cannot be used in sets due to mutability (unstable hash value)
# 3) Follow all the basic features like mutability , appending , deletion, length , count , concatenate , copy etc .
# 4) declaration []
# TUPLE :
# 1) Tuples are ordered , hetrogeneous, immutable
# 2) can be used , stable hash value
# 3) follow all basic features of list accept mutability.
# 4) declaration ()

In [30]:
# LIST 
a=["mumbai","delhi","kolkata","nagpur","bangalore"]
a[2]="chennai"
print("modified",a)

modified ['mumbai', 'delhi', 'chennai', 'nagpur', 'bangalore']

In [31]:
# TUPLE 
a=("mumbai","delhi","kolkata","nagpur","bangalore")
a[2]="chennai"
print("modified",a)

TypeError: 'tuple' object does not support item assignment

In [32]:
# set usage LIST :
s={1,2,4,[1,2,3]}
s

TypeError: unhashable type: 'list'

In [33]:
# set usage TUPLE :
s={1,2,4,(1,2,3)}
s

{(1, 2, 3), 1, 2, 4}

____

Q5) Describe the key features of sets and provide examples of their use

In [34]:
# Seta are unordered , hetrogeneous , mutable (can be added) collection of data .
# it supports only  other immutable data structures into it like tuple and no list  and dictionary due mutability.(# DISCUSSED IN ABOVE QUESTION PLEASE REFER)
# it contains all the unique elements (removes duplicates even if present)
# follows all mathematical set function like union, intersect, diff.
# it also has its immutable version 'frozen set 'it avoids addition and deletion after creation.

In [49]:
s={1,2,3,"mumbai", 3 ,6 }
print("UNIQUENESS :",s)  # 3 twice , unorderedness 
s1={8,5,9,5,"gaziabad"}
print()
print("SET FUNCTIONS ")
print("union       :",s|s1)
print("intersection:",s&s1)
print("difference  :",s-s1)
print("symm diff   :",s^s1)
print()
print("UPDATION")
s.add("nagpur")
print(s)
s.pop()     # removes random element  
s.remove("nagpur")  # removes specfied element
print(s)

print("Updating with new string")
s.update("nagpur")                     # methods to deal with update() function but can do with add as well in easy way 
s
s.update(["nagpur"])
s

UNIQUENESS : {1, 2, 3, 6, 'mumbai'}

SET FUNCTIONS
union       : {1, 2, 3, 5, 6, 8, 9, 'mumbai', 'gaziabad'}
intersection: set()
difference  : {1, 2, 3, 6, 'mumbai'}
symm diff   : {1, 2, 3, 5, 6, 8, 9, 'mumbai', 'gaziabad'}

UPDATION
{1, 2, 3, 6, 'nagpur', 'mumbai'}
{2, 3, 6, 'mumbai'}
Updating with new string

{2, 3, 6, 'a', 'g', 'mumbai', 'n', 'nagpur', 'p', 'r', 'u'}

In [50]:
# FROZEN SET:
s2=frozenset({1,2,3})
print(s2)

frozenset({1, 2, 3})

In [52]:
s2.add(4)
s2.pop()     # do not support updation.

AttributeError: 'frozenset' object has no attribute 'add'

Q6) Discuss the use cases of tuples and sets in Python programming

TUPLES:

tuples can be useful for storing the data which we dont want to update once entered.For eg consider a user entry application here we can track a user entry of each time and for security and monitering purpose one cannot modify it and the data will be straight visible to admin 

SETS: 

Sets can we useful where we want all unique values and also a immutability case as well provided with uniqueness. lets say a shopping  application to moniters a customers monthly shopping list there can be multiplr repeted items so using there sets we can get the list of all unique items .

Further above with user entry  example we can also use frozen set there as well only difference will be there will be unique values .

____

Q7)  Describe how to add, modify, and delete items in a dictionary with examples

We will see with examples :

In [64]:
# ADD:
d={"NIKHIL":90,
  "ROHIT":89,
  "SAMEER":80,
  "MYRA":90}
print("DICTIONARY ",d)
print("ADDING")
d["SHREYA"]=85
print("AFTER ADDING ",d)
# modify 
print("MODIFY")
d["NIKHIL"]=95
print("MODIFIED  NIKHIL MARKS ",d)
# deleting
print("DELETING")
d.pop("NIKHIL")       
print("DELETED NIKHIL",d)
print("DELETING ENTIRE DATA")
d.clear()      # clears all the entries 
print(d)

DICTIONARY  {'NIKHIL': 90, 'ROHIT': 89, 'SAMEER': 80, 'MYRA': 90}
ADDING
AFTER ADDING  {'NIKHIL': 90, 'ROHIT': 89, 'SAMEER': 80, 'MYRA': 90, 'SHREYA': 85}
MODIFY
MODIFIED  NIKHIL MARKS  {'NIKHIL': 95, 'ROHIT': 89, 'SAMEER': 80, 'MYRA': 90, 'SHREYA': 85}
DELETING
DELETED NIKHIL {'ROHIT': 89, 'SAMEER': 80, 'MYRA': 90, 'SHREYA': 85}
DELETING ENTIRE DATA
{}

In [66]:
# modify              # if two values have  same keys then the last value will be shown for the key.
d={"name":"sameer",
  "name":"vishakha"}
print(d)
print(d["name"])

{'name': 'vishakha'}
vishakha

___

Q8)  Discuss the importance of dictionary keys being immutable and provide examples

keys are like index in dictonary to identify each element of the dictonary .If the key value are mutable there are chances that it can be referenced by such a var which is alreay referencing to other data structure or space in memory and if the the value of that variable is change the corresponding valuwn  will also be changed in dictionary as well leading to errors voilating data security.ie why list dict, sets are not allowed in dict whereas tuples are due to immutability .

In [68]:
# dict not support mutable obj as keys 
d={["name"]:"sameer",
  "name":"vishakha"}

TypeError: unhashable type: 'list'

In [74]:
lis=["mumbai","nagpur"]
d={lis:"sameer",
  "name":"vishakha"}

TypeError: unhashable type: 'list'

In [75]:
tup=("mumbai","nagpur")
d={tup:"sameer",
  "name":"vishakha"}

In [76]:
d

{('mumbai', 'nagpur'): 'sameer', 'name': 'vishakha'}

In [77]:
s={"mumbai","nagpur"}
d={s:"sameer",
  "name":"vishakha"}

TypeError: unhashable type: 'set'