Q1) Write a code to reverse a string

In [2]:
a="mumbai"
print(a[::-1])

iabmum

_______________

Q2)  Write a code to count the number of vowels in a string

In [4]:
count=0
a="mumbai"
for i in a:
    if i=="a"or i=="e"or i=="i"or i=="o"or i=="u":
        count+=1
count

3

____________

Q3) Write a code to check if a given string is a palindrome or not

In [7]:
a="xyzyzyx"
if a[::1]==a[::-1]:
    print("palindrome")
else:
    print("not")

palindrome

____

Q4) Write a code to check if two given strings are anagrams of each other

In [9]:
a="python"
b="typhon"
for i in a :
    if i in b:
        x=True
for j in b:
    if j in a :
        y=True
if x and y == True:
    print("anagram")

anagram

_____________

Q5 Write a code to find all occurrences of a given substring within another string

# the string is like this :
string="Mumbai is a vibrant city known for its bustling lifestyle and rich cultural heritage. Mumbai is often referred to as the "City of Dreams" because many come to Mumbai to pursue careers in film, finance, and technology. Located on the western coast of India, Mumbai is the capital of Maharashtra and the financial hub of the country. Mumbai is home to Bollywood, India's famous film industry, as well as numerous historical sites, like the Gateway of India and the Chhatrapati Shivaji Maharaj Terminus. With a diverse population and iconic landmarks, Mumbai remains a city full of energy and endless opportunities."

In [8]:
count=0
a="mum"
string="Mumbai is a vibrant city known for its bustling lifestyle and rich cultural heritage. Mumbai is often referred to as the City of Dreams because many come to Mumbai to pursue careers in film, finance, and technology. Located on the western coast of India, Mumbai is the capital of Maharashtra and the financial hub of the country. Mumbai is home to Bollywood, India's famous film industry, as well as numerous historical sites, like the Gateway of India and the Chhatrapati Shivaji Maharaj Terminus. With a diverse population and iconic landmarks, Mumbai remains a city full of energy and endless opportunities."
string=string.lower()
for i in range(len(string)-3):
    if string[i:i+3]==a:
        count+=1
print(f"The sub-string {a} has occured {count} times in the entire string.")

The sub-string mum has occured 6 times in the entire string.

____________

Q6) Write a code to perform basic string compression using the counts of repeated characters

In [9]:
counta=0
countb=0
countc=0
countd=0
s="aaaabbcddddd"
for i in s:
    if i=="a":
        counta+=1
    elif i=="b":
        countb+=1
    elif i=="c":
        countc+=1
    else:
        countd+=1
print(f"a{counta}b{countb}c{countc}d{countd}")

a4b2c1d5

___________

Q7)  Write a code to determine if a string has all unique characters

In [24]:
s="abbcd"
for i in s:
    count=0
    for j in s :
        if i==j:
            count+=1
    if count>1:
        print("not unique")
        break
else:
    print("unique")

not unique

_____________

Q8) Write a code to convert a given string to uppercase or lowercase

In [42]:
b=""                      # if we dont use .upper()  function 
a="dog"
for i in a:
    c=ord(i)-32
    b=b+chr(c)
print(b)

DOG

In [43]:
b=""                      # if we dont use .lower()  function 
a="DOG"
for i in a:
    c=ord(i)+32
    b=b+chr(c)
print(b)

dog

____

Q9) Write a code to count the number of words in a string

In [13]:
s="ME TO MYSELF:I LOVE YOU"
s1=s.split(" ")
count=0
for i in range(len(s1)):
    if len(s1[i])>1:
        count+=1
print(f"TOTAL WORDS ARE: {count}")

TOTAL WORDS ARE: 5

____

Q10) Write a code to concatenate two strings without using the + operator

In [3]:
a="water"
b="bell"
a=a.replace(a[-1],a[-1]+b)
print(a)

waterbell

___

Q11)Write a code to remove all occurrences of a specific element from a list

In [30]:
s="Mumbai is a vibrant city known for its bustling lifestyle and rich cultural heritage. Mumbai is often referred to as the City of Dreams because many come to Mumbai to pursue careers in film, finance, and technology."
print("STRING BEFORE: ",s)
delete="Mumbai"
s=s.replace(delete,"")
s=s.strip()
print("")
print("AFETR :",s)

STRING BEFORE:  Mumbai is a vibrant city known for its bustling lifestyle and rich cultural heritage. Mumbai is often referred to as the City of Dreams because many come to Mumbai to pursue careers in film, finance, and technology.

AFETR : is a vibrant city known for its bustling lifestyle and rich cultural heritage.  is often referred to as the City of Dreams because many come to  to pursue careers in film, finance, and technology.

____

Q12) Implement a code to find the second largest number in a given list of integers

In [35]:
l=[18,9,5,15,12]
print("LIST: ",l)
l.sort()
print("SECOND LARGEST NUMBER: ",l[-2])

LIST:  [18, 9, 5, 15, 12]
SECOND LARGEST NUMBER:  15

____

Q13) Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
l=[2,3,4,5,6,7,8,9,5,1,3,5,8,4,5,2,5,8,4,1]
print("LIST: ",l)
already_visited=[]
ele_count=[]
d={}
for i in range(len(l)):
    if l[i] not in already_visited:
        already_visited.append(l[i])
        ele_count.append(l.count(l[i]))
d={av:ec for av,ec in zip(already_visited,ele_count)}
print("COUNT OF EACH ELEMENT:",d)

_____

Q14) Write a code to reverse a list in-place without using any built-in reverse functions

In [59]:
l=[65,5,9,7,8,4,6,1]
print("BEFORE REVERSED: ",l)
print("REVERSED LIST: ",l[::-1])

BEFORE REVERSED:  [65, 5, 9, 7, 8, 4, 6, 1]
REVERSED LIST:  [1, 6, 4, 8, 7, 9, 5, 65]

___

Q15) Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [38]:
lo=[1,1,2,2,3,3,4,4,5,6]
print("ORIGINAL LIST: ",lo)
lu=[]
for i in range(len(lo)):
    e=lo[i]
    if e not in lu:
        lu.append(e)
        
print("UNIQUE LIST: ",lu)

ORIGINAL LIST:  [1, 1, 2, 2, 3, 3, 4, 4, 5, 6]
UNIQUE LIST:  [1, 2, 3, 4, 5, 6]

___________

Q16) Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [15]:
l=[1,3,6,2,5,8,5]
print("LIST IS: ",l)
if l[len(l)//2-1] <l[len(l)//2] and l[len(l)//2]<l[len(l)//2+1]:
    print("LIST IS SORTED in ASCENDING ")
else:
    print("NOT SORTED")

LIST IS:  [1, 3, 6, 2, 5, 8, 5]
NOT SORTED

___

Q17) Write a code to merge two sorted lists into a single sorted list

In [18]:
l1=[1,6,3,7,8,4]
l2=[2,5,9,10]
print("LIST1: ",l1)
print("LIST2: ",l2)
l3=l1+l2
l3=sorted(l3)
print("SORTED MERGED LIST: ",l3)

LIST1:  [1, 6, 3, 7, 8, 4]
LIST2:  [2, 5, 9, 10]
SORTED MERGED LIST:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

____

Q18) Implement a code to find the intersection of two given lists

In [27]:
l1=[1,6,3,7,8,4]
l2=[2,5,9,10]
print("LIST1: ",l1)
print("LIST2: ",l2)
l1=set(l1)
l2=set(l2)
r=l1&l2
r=list(r)
print("INSECTION IS: ",r)

LIST1:  [1, 6, 3, 7, 8, 4]
LIST2:  [2, 5, 9, 10]
INSECTION IS:  []

____

Q19) Create a code to find the union of two lists without duplicates

In [28]:
l1=[1,6,3,7,8,4]
l2=[2,5,9,10]
print("LIST1: ",l1)
print("LIST2: ",l2)
l1=set(l1)
l2=set(l2)
r=l1|l2
r=list(r)
print("UNION IS: ",r)

LIST1:  [1, 6, 3, 7, 8, 4]
LIST2:  [2, 5, 9, 10]
UNION IS:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

____

Q20) Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [4]:
# CODE TO USE RANDOM (FOR MY USE)
import random as rand
lc=[]
for i in range(5):
    lc.append(rand.randint(0,4))
    
lc

[3, 0, 3, 1, 2]

In [2]:
l=[1,2,3,4,5]
print(l[0])
print(l[2])
l[0],l[2]=l[2],l[0]
print("after change")
print(l[0])
print(l[2])

1
3
after change
3
1

In [24]:
# CODE FOR QUESTION 
list_shuffle=[]
i=0
while i in range(5):
    e=rand.randint(0,4)
    if e not in list_shuffle:
        list_shuffle.append(e)
        i+=1
list_shuffle

list_change=[1,2,3,4,5]
for i in range(len(list_shuffle)):
    e=list_shuffle[i]
    if i !=e:
        list_change[i],list_change[e]=list_change[e],list_change[i]
        
print(list_change)

[3, 5, 1, 2, 4]

_____________

Q21 Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [9]:
n=int(input("ENTER LENGTH TUPLE1 : "))
t1=[]
t2=[]
for i in range(n):
    t1.append(int(input(f"ENTER ELEMENT {i+1}: ")))
print("TUPLE1: ",t1)
t1=set(t1)
m=int(input("ENTER LENGTH TUPLE2 : "))
for i in range(m):
    t2.append(int(input(f"ENTER ELEMENT {i+1}: ")))
print("TUPLE2: ",t2)
t2=set(t2)
r=t1&t2
r=tuple(r)
print("COMMON ELEMENTS: ",r)

ENTER LENGTH TUPLE1 : 2
ENTER ELEMENT 1: 1
ENTER ELEMENT 2: 2
TUPLE1:  [1, 2]
ENTER LENGTH TUPLE2 : 3
ENTER ELEMENT 1: 3
ENTER ELEMENT 2: 2
ENTER ELEMENT 3: 1
TUPLE2:  [3, 2, 1]
COMMON ELEMENTS:  (1, 2)

____

Q22) Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [17]:
s1=input("ENTER INTEGERS SEP BY ',' FOR SET 1: ")
s1=set(s1)
s1.remove(",")
print(s1)
s2=input("ENTER INTEGERS SEP BY ',' FOR SET 2: ")
s2=set(s2)
s2.remove(",")
print(s2)
print("COMMON ELEMENTS ARE: ",s1&s2)

ENTER INTEGERS SEP BY ',' FOR SET 1: 1,2,3,4,5,6
{'4', '6', '5', '2', '1', '3'}
ENTER INTEGERS SEP BY ',' FOR SET 2: 9,8,7,6,5,4,3
{'4', '5', '9', '6', '7', '8', '3'}
COMMON ELEMENTS ARE:  {'4', '6', '3', '5'}

____

Q23)Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [22]:
n=int(input("ENTER LENGTH TUPLE1 : "))
t1=[]
t2=[]
for i in range(n):
    t1.append(int(input(f"ENTER ELEMENT {i+1}: ")))
print("TUPLE1: ",t1)
t1=tuple(t1)
m=int(input("ENTER LENGTH TUPLE2 : "))
for i in range(m):
    t2.append(int(input(f"ENTER ELEMENT {i+1}: ")))
print("TUPLE2: ",t2)
t2=tuple(t2)
r=t1+t2
r=tuple(r)
print("COMBINE TUPLE: ",r)

ENTER LENGTH TUPLE1 : 5
ENTER ELEMENT 1: 1
ENTER ELEMENT 2: 2
ENTER ELEMENT 3: 3
ENTER ELEMENT 4: 4
ENTER ELEMENT 5: 5
TUPLE1:  [1, 2, 3, 4, 5]
ENTER LENGTH TUPLE2 : 5
ENTER ELEMENT 1: 6
ENTER ELEMENT 2: 7
ENTER ELEMENT 3: 8
ENTER ELEMENT 4: 9
ENTER ELEMENT 5: 10
TUPLE2:  [6, 7, 8, 9, 10]
COMBINE TUPLE:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

____

Q24)  Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [29]:
s1=input("ENTER STRING 1: ")
s2=input("ENTER STRING 2: ")
s1.split(" ")
s2.split(" ")
print(s1)
print(s2)
s1=set(s1)
s2=set(s2)
print("Elements that are present in the first set but not in the second set",s1-s2)

ENTER STRING 1: my name is nikhil
ENTER STRING 2: my name is sumit
my name is nikhil
my name is sumit
Elements that are present in the first set but not in the second set {'h', 'k', 'l'}

_____

Q25) Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [33]:
t=(1,2,3,4,5,6,7,8)
n=int(input("ENTER START RANGE: "))
m=int(input("ENTER END RANGE: "))
def show(t,n,m):
    if n >len(t)|m>len(t):
        print("OUT OF RANGE..")
    print("THE SPECFIED RANGE: ",t[n:m])
    
show(t,n,m)

ENTER START RANGE: 2
ENTER END RANGE: 5
THE SPECFIED RANGE:  (3, 4, 5)

_______

Q26) Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [1]:
s1={}
s2={}
s1=set(s1)
s2=set(s2)
n=int(input("ENTER LENGTH SET1 : "))
for i in range(n):
    s1.add(input(f"ENTER ELEMENT {i+1}: "))
print("SET1: ",s1)
m=int(input("ENTER LENGTH SET2 : "))
for i in range(m):
    s2.add(input(f"ENTER ELEMENT {i+1}: "))
print("SET2: ",s2)
r=s1|s2
r=tuple(r)
print("COMBINE ELEMENTS: ",r)

ENTER LENGTH SET1 : 8
ENTER ELEMENT 1: a
ENTER ELEMENT 2: b
ENTER ELEMENT 3: c
ENTER ELEMENT 4: d
ENTER ELEMENT 5: e
ENTER ELEMENT 6: f
ENTER ELEMENT 7: g
ENTER ELEMENT 8: h
SET1:  {'f', 'b', 'e', 'h', 'a', 'd', 'g', 'c'}
ENTER LENGTH SET2 : 5
ENTER ELEMENT 1: a
ENTER ELEMENT 2: e
ENTER ELEMENT 3: i
ENTER ELEMENT 4: o
ENTER ELEMENT 5: u
SET2:  {'u', 'e', 'o', 'a', 'i'}
COMBINE ELEMENTS:  ('f', 'b', 'e', 'u', 'h', 'o', 'a', 'i', 'd', 'g', 'c')

___

 Q27) Develop a code that takes a tuple of integers as input. The function should return the maximum and
 minimum values from the tuple using tuple unpacking

In [12]:
t = tuple(map(int, input("Enter the elements of the first tuple separated by spaces: ").split()))
print("ENTERED TUPLE: ",t)
m=list(t)
print("MAX ELEMENT: ",max(m))

Enter the elements of the first tuple separated by spaces: 1 2 3 4
ENTERED TUPLE:  (1, 2, 3, 4)
MAX ELEMENT:  4

_____________

Q28) Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [18]:
s1 = set(map(int,input("Enter the elements of the first tuple separated by spaces: ").split()))
s2 = set(map(int,input("Enter the elements of the first tuple separated by spaces: ").split()))    # * second tuple will come
print("SET1",s1)
print("SET2",s2)
print("UNION: " ,s1|s2)
print("INTERSECTION: ",s1&s2)
print("DIFFERENCE1: ",s1-s2)
print("DIFFERENCE2: ",s2-s1)

Enter the elements of the first tuple separated by spaces: 1 2 3 4 5 6 7
Enter the elements of the first tuple separated by spaces: 9 7 457 3 23 12 3 7
SET1 {1, 2, 3, 4, 5, 6, 7}
SET2 {3, 7, 9, 457, 12, 23}
UNION:  {1, 2, 3, 4, 5, 6, 7, 9, 457, 12, 23}
INTERSECTION:  {3, 7}
DIFFERENCE1:  {1, 2, 4, 5, 6}
DIFFERENCE2:  {9, 457, 12, 23}

______

Q29) Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [20]:
s = tuple(map(int,input("Enter the elements of the first tuple separated by spaces: ").split()))
n=int(input(("ENTER ELEMENT: ")))
if n in s:
    print(f"THE COUNT OF {n} IS :",s.count(n))
else:
    print(f"{n} NOT PRESENT IN TUPLE")

Enter the elements of the first tuple separated by spaces: 1 2 3 4 3 2 3 6 4 6 78 5 3 6 43
ENTER ELEMENT: 3
THE COUNT OF 3 IS : 4

_________

Q30) Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [24]:
s1 = set(map(str,input("Enter the elements of the first tuple separated by spaces: ").split()))
s2 = set(map(str,input("Enter the elements of the second tuple separated by spaces: ").split())) 
print("SET1: ",s1)
print("SET2: ",s2)
print("SYMMETRIC DIFFERENCE: ", s1^s2)

Enter the elements of the first tuple separated by spaces: n i k
Enter the elements of the second tuple separated by spaces: h i l
SET1:  {'n', 'k', 'i'}
SET2:  {'i', 'l', 'h'}
SYMMETRIC DIFFERENCE:  {'h', 'n', 'k', 'l'}

______________

Q31) Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [30]:
l=list(map(str,input("ENTER WORDS SEPARATED BY SPACES: ").split()))
print("INPUT LIST: ",l)
freq=[]
visit=[]
for i in range(len(l)):
    if l[i] not in visit:
        visit.append(l[i])
        freq.append(l.count(l[i]))

ENTER WORDS SEPARATED BY SPACES: you me yours me
INPUT LIST:  ['you', 'me', 'yours', 'me']

In [33]:
d={v:f for v,f in zip(visit,freq)}
print("WORD COUNT IS: ",d)

WORD COUNT IS:  {'you': 1, 'me': 2, 'yours': 1}

___________

Q32) Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [104]:
def combine(dict1, dict2):
    result = dict1.copy() 
    for key, value in dict2.items():
        if key in result:
            result[key] += value
        else:
            result[key] = value  
    return result
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}
combined = combine(dict1, dict2)
print("MERGED DICTIONARY: ",combined)

MERGED DICTIONARY:  {'a': 1, 'b': 5, 'c': 7, 'd': 5}

_____________

Q33) Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [83]:
def return_value(dict,list):
    for i in l:
        if i in dict.keys():
            print(f"{i}: ",d[i])
        else:
            print(f"{i}: ",None)
        
d={"one":1,
  "two":2,
  "three":3,
  "four":4,
  "five":5}
l=["one", "two", "three","six"]
return_value(d,l)

one:  1
two:  2
three:  3
six:  None

_____

Q34) Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [123]:
d={1:"one",
  2:"two",
  3:"three",
  4:"four",
  5:"five"}
def sort_dict(dict):
    print("ORIGINAL DICT: ",d)
    dum=d.copy()
    dum={value:key for key, value in dum.items()}
    # print(dum)
    sort_key=sorted(dum.keys())
    # print(sort_key)
    sort_value=[]
    for i in range(len(sort_key)):
        sort_value.append(dum[sort_key[i]])

    # print(sort_value)
    sort_dict={k:v for k,v in zip(sort_value,sort_key) }
    print("SORTED DICT BASED ON VALES: ",sort_dict)

    
sort_dict(d)

ORIGINAL DICT:  {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
SORTED DICT BASED ON VALES:  {5: 'five', 4: 'four', 1: 'one', 3: 'three', 2: 'two'}

_________

Q35) Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [159]:
d= {'a': 1,
    'b': 2,
    'c': 1,
    'd': 3,
    'e': 2}
dswap= {}
for key, value in d.items():
    dswap.setdefault(value, []).append(key) #refered
print("ORIGINAL DICTIONARY:", d)
print("IVERTED DICTIONARY:", dswap)

ORIGINAL DICTIONARY: {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2}
IVERTED DICTIONARY: {1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}